.center-text {
    font-size: 2em; /* Adjust font size */
    font-weight: bold; /* Make text bold */
    color: indigo; /* Set the color to indigo */
    text-align: center; /* Ensure text is centered */
    margin-top: -26%;
  }

  .button {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: linear-gradient(45deg, #00aeff, #9a09ee); /* Gradient from orange to pink */
    transition: background 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }

  .grid-container {
    display: grid;
    place-items: center;   /* Centers content both horizontally and vertically */
    height: 25vh;         /* Make the container take up full viewport height */
  }
  
  /* Profile picture styling */
  .profile-picture {
    width: 150px;             /* Adjust size as needed */
    height: 150px;
    border-radius: 50%;       /* Make the image round */
        /* Ensure the image covers the container */
  }

  /* body {
    height: 80vh;  
    margin: 0;     
    background: linear-gradient(to right, #ff7e5f, #feb47b) !important; 
  }
 */
