<!-- chapters-page.component.html -->
<!-- <div *ngIf="selectedCourse$ | async as course">
    <h2>{{ course.name }}</h2>
    <div *ngFor="let chapterId of course.chapters">
      <div *ngIf="selectedChapter$ | async as chapter">
        <h3>{{ chapter.name }}</h3>
        <div *ngFor="let lessonId of chapter.lessons"> -->
          <!-- <div>{{ getLessonName(lessonId) }}</div>  -->
          <!-- <button (click)="onCompleteLesson(userId, lessonId)">Complete Lesson</button> -->
        <!-- </div>
      </div>
    </div>
  </div> -->
  <!-- src/app/lessons-page/lessons-page.component.html -->
   <div class="min-h-screen bg-[#fdfdfd] flex justify-center items-center ">
    <div class="container bg-[#75b569]  align-middle mx-auto p-6 rounded-lg shadow">
      
        <h2 class="text-xl text-center font-extrabold mb-4">Lessons</h2>
      
      
      <div class="flex gap-2 p-2 border-2 border-blue-950 rounded-lg ">
        <!-- Left Sidebar for Lessons List -->
        <div class=" col-span-1">
          
          <div class=" flex flex-col gap-5">
            <div *ngFor="let lesson of lessons" (click)="selectLesson(lesson.id)"
                 class="flex  bg-white items-center justify-between cursor-pointer p-4 rounded-lg border hover:bg-gray-100 transition-all"
                 [ngClass]="{'bg-green-200': lesson.completed}">
              <div class="flex items-center">
                <span class="cursor-pointer">
                  {{ lesson.title }}
                </span>
                <span *ngIf="lesson.completed" class="ml-2 text-green-500">✔️</span>
              </div>
            </div>
          </div>
        </div>
    
        <!-- Right Section for Lesson Content -->
        <div class=" flex-1  col-span-2">
          <div class="mx-3 ">
            <div *ngIf="getSelectedLesson(); else noSelection" class="bg-white gap-4 p-6 rounded-lg shadow-md flex flex-col  justify-between ">
              <div>
                <h2 class="text-2xl font-semibold text-center text-green-800">{{ getSelectedLesson()?.title }}</h2>
                <p class="mt-4"> -{{ getSelectedLesson()?.content }}</p>
              </div>
             
              <button *ngIf="!getSelectedLesson()?.completed" (click)="toggleCompletion(this.selectedLessonId)"  class="px-3 mt-5 py-2 bg-[#1f2354] text-white rounded-lg" > Mark as completed</button>
            </div>
            <ng-template #noSelection>
              <div class="text-center flex justify-center items-center">
                <p class="text-white">Select a lesson to view the content.</p>
              </div>
            </ng-template>
          </div>
          </div>
         
      </div>
    </div>
   </div>


  